<header class="bg-body-tertiary border-bottom py-3">

  <div class="container">

      <div class="d-flex justify-content-end mb-3">

        <div class="d-flex align-items-center gap-3">

          @if (showNavigation) {
          <span class="fw-semibold">
              Welcome, {{ fullName }}
          </span>
        }

          <button
            type="button"
            class="btn btn-link p-0 text-body"
            (click)="toggleTheme()"
            aria-label="Toggle theme">

            @if (isDarkMode) {
              <i class="fa-solid fa-moon fs-5"></i>
            } @else {
              <i class="fa-solid fa-sun fs-5"></i>
            }
          </button>


      
          @if (showNavigation) {
          <a href="#" class="logout-link">
      
              <i class="fa-solid fa-right-from-bracket me-1"></i>
      
              Logout
      
          </a>
        }
      
        </div>

      </div>

    

    <div class="header-bottom">

      @if (showNavigation) {

        <a
          (click)="goBack()"
          class="nav-link-custom back-link fs-6">

          <i class="fa-solid fa-arrow-left me-2"></i>

          Back

        </a>

      } @else {

        <div></div>

      }

      <h1 class="m-0 fw-bold text-center">
        Book & Quotes
      </h1>

      @if (showNavigation) {

        <a
          routerLink="/home"
          class="nav-link-custom home-link fs-6">

          <i class="fa-solid fa-house me-2"></i>

          Home

        </a>

      } @else {

        <div></div>

      }

    </div>

  </div>

</header>