<header class="bg-light border-bottom py-3">

  <div class="container">

    @if (showNavigation) {

      <div class="d-flex justify-content-end mb-3">

        <div class="d-flex align-items-center gap-3">

          <span class="fw-semibold">
              Welcome, {{ fullName }}
          </span>
      
          <a href="#" class="logout-link">
      
              <i class="fa-solid fa-right-from-bracket me-1"></i>
      
              Logout
      
          </a>
      
        </div>

      </div>

    }

    <div class="header-bottom">

      @if (showNavigation) {

        <a
          href="#"
          class="nav-link-custom back-link fs-6">

          <i class="fa-solid fa-arrow-left me-2"></i>

          Back

        </a>

      } @else {

        <div></div>

      }

      <h1 class="m-0 fw-bold text-center">
        Book & Quotes
      </h1>

      @if (showNavigation) {

        <a
          routerLink="/home"
          class="nav-link-custom home-link fs-6">

          <i class="fa-solid fa-house me-2"></i>

          Home

        </a>

      } @else {

        <div></div>

      }

    </div>

  </div>

</header>