<app-header [showNavigation]="true"></app-header>

<div class="container py-5">

  <div class="row justify-content-center">

    <div class="col-12 col-md-8 col-lg-6">

      <div class="card shadow-sm">

        <div class="card-body p-4">

            <h2 class="text-center mb-4">
                {{ isEditMode ? 'Edit Book' : 'Add Book' }}
            </h2>

          <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">

              <label class="form-label">
                Title
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="title">

            </div>

            <div class="mb-3">

              <label class="form-label">
                Author
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="author">

            </div>

            <div class="mb-4">

              <label class="form-label">
                Publication Date
              </label>

              <input
                type="text"
                class="form-control"
                formControlName="publicationDate"
                placeholder="yyyy.MM.dd"
                [class.is-invalid]="
                bookForm.get('publicationDate')?.touched &&
                bookForm.get('publicationDate')?.invalid
                ">

            <div
                class="invalid-feedback"
                *ngIf="
                bookForm.get('publicationDate')?.touched &&
                bookForm.get('publicationDate')?.invalid
                ">
                Please enter the date as yyyy.MM.dd.
            </div>

            </div>

            <button
                type="submit"
                class="btn btn-success w-100">
                {{ isEditMode ? 'Save Changes' : 'Save' }}
            </button>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>