<app-header [showNavigation]="false"></app-header>

<div class="page">

  <div class="login-card">

    <div class="login-side">

      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label>User</label>

        <input
          type="email"
          formControlName="email"
        >

        @if (
          loginForm.controls.email.touched &&
          loginForm.controls.email.invalid
        ) {
          <p class="error">
            Please enter a valid user email.
          </p>
        }

        <label>Password</label>

        <input
          type="password"
          formControlName="password"
        >

        @if (
          loginForm.controls.password.touched &&
          loginForm.controls.password.hasError('required')
        ) {
          <p class="error">
            Password is required.
          </p>
        }

        <button
          class="login-button"
          type="submit">
          Login
        </button>

      </form>

    </div>

    <div class="register-side">

      <h2>New here?</h2>

      <p>Create an account to save your books and quotes.</p>

      <a
        class="register-link"
        routerLink="/register">
        Create account
      </a>

    </div>

  </div>

</div>